.ui-radiobutton-icon {
    margin-left: 0px !important;
    margin-top: -1px !important;
}

.ui-widget,   
    .ui-widget .ui-widget {   
    font-family: 'Roboto',sans-serif !important; 
}

.font-normal {
	font-weight: normal !important;
}

.alinhada  {
	margin: 0 auto;
	width: 50%; /* Valor da Largura */
}

